html {
    background-color: rgb(19, 19, 19);
    color: white;
    overflow-y:scroll;
    scrollbar-color: rgb(36, 36, 36) rgb(7, 7, 7);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(202, 0, 34);
}

h2 {
    font-size: 12px;
}

#logo {
    width: 200px;
    padding-top: 15;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(76, 77, 77);
    border: solid 1px rgb(141, 140, 140);
    color: white;
    margin-top: -9px;
    width: 310px;
    margin-left: 1px;
}
/*-----------Nav Bar-------------*/
header {
    /*background-color: green;*/
    margin: 0;
    padding-top: 2;
    position: fixed;
    top: 0;
    height: 20px;
    width: 100%;
    text-align: right;

}

header a{
    text-decoration: none;
    color: white;
    padding-right: 6px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownMenu {
    background-color: rgba(0,0,0,0);
    border: none;
    width: 40px;
}

.dropdownContent {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    width: 150px;
}

.dropdownContent a {
    color: rgb(255, 255, 255);
    padding: 12 16;
    text-decoration: none;
    display: block;
    font-size: 12px;
    background-color: rgb(32, 32, 32);
}

.dropdownContent a:hover {
    background-color: rgb(76, 77, 77);
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropdownMenu {
    background-color: rgb(32, 32, 32);
}

/*---------------------Containers-----------------------*/
#inputContainer {
    /*background-color: rgb(32, 32, 32);*/
    width: 306px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 3px;
}

#deckContainer {
    /*background-color: rgba(255, 0, 0, 0.247);*/
    width: 800;
    display: flex;
    align-items: center;
    justify-content: left;
}

#cardContainer {
    background-color: rgb(32, 32, 32);
    width: 800px;
    padding-top: 5px;
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;*/
}

/*---------------------inputs-----------------------*/
.inputSelect {
    background-color: rgb(76, 77, 77);
    color: white;
    width: 80px;
}

#archetypeSelect {
    width: 130px;
}

#archetypeContainer, #formatContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#timeContainer {
    display: flex;
    flex-direction: column;
}

.searchLabel {
    font-size: 15;
}

/*---------------------decks-----------------------*/
.deckTabs {
    background-color: rgb(76, 77, 77);
    color: white;
    border: 1px rgb(76, 77, 77);
    margin-right: 4px;
    width: 83px;
    height: 20px;

}

.deckTabsActive {
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(32, 32, 32);
    border-bottom: 0px;
    color: white;
    margin-right: 4px;
    width: 83px;
    height: 20px;

}

/*---------------------cards-----------------------*/

#mainContainer {
    width: 800px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#extraContainer {
    width: 800px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#sideContainer {
    width: 800px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#infoContainer {
    background-color: rgb(32, 32, 32);
    display: none;
}

#popContainer {
    display: flex;
    flex-direction: column;
}

.cell {
    /*background-color:rgb(82, 82, 82);*/
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 13;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 4px;
    margin-top: 4px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.664);
}

.cardImg {
    background-color: green;
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cardInfo {
    display: flex;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.percent, .count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent {
    width: 60px;
}

.count {
    width: 40px;
}

/*-------------------------------------------------*/


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Styling for the enlarged image */
.enlargedImage {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

/* Add this to ensure the enlarged image stays on top */
.overlay.active {
    display: flex;
}

/*more info section */
#leftInfo {
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    /*background-color: green;*/
    width: 25%;
    display: flex;
    align-items: center;
    font-size: 13;
    margin-top: 16px;
}

#rightInfo {
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    /*background-color: blue;*/
    width: 75%;
    font-size: 13;
    display: flex;
}

#deckInfo {
    width: 1000%;
    text-align: right;
    margin-right: 10%;
}

#deckValues {
    width: 30%;
    text-align: center;
    margin-right: 20%;
}

.infoBox {
    background-color: rgb(17, 17, 17);
    width: 95%;
    height: 60px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    align-content: flex-start;
}

.archBox {
    display: flex;
    background-color: green;
    height: 15px;
    margin: 4px;
    margin-bottom: 0px;
}

.archName {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11;
}

.archCount {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11;
    
}

.infoBoxSlab {
    width: 50%;
    /*background-color: red;*/
}

/*------------------------------Pop Tables------------------------------*/


#popTable {
    /*background-color: green;*/
    display: flex;
    width: 800px;
}

#popTableTCG, #popTableOCG {
    /*background-color: red;*/
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popArch {
    display: flex;
    /*background-color: yellow;*/
    height: 220px;
    justify-content: center;
}

.popMainArch, .popSubArch, .popMainCards, .popSubCards {
    /*background-color: rgb(65, 65, 65);*/
    text-align: center;
    width: 170px;
    margin-right: 10px;
    margin-left: 10px;
}


.popCards {
    display: flex;
    /*background-color: green;*/
    height: 500px;
    justify-content: center;
    margin-top: 10px;
}

table {
    width: 170px;
}

td {
    background-color: rgb(51, 51, 51);
    font-size: 12;
    text-align: center;
}

.popScrollTable {
    background-color: rgb(17, 17, 17);
    width: 350px;
    height: 300px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    align-content: flex-start;
}

.popTableImg {
    width: 25px;
}

.popTableGreen {
    color: green;
}

.popTableRed {
    color: red;
}

.popArchBackgrounds {
    background-color: rgb(17, 17, 17);
}

#top {
    display: flex;
    width: 800px;
}

#topRight {
    width: 80%;
    padding-left: 150px
}

#topLeft {
    width: 10%;
}